:root {
    --container-border-radius: 10px;
    --container-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, .2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Canva Sans', sans-serif;
}
body {
    font-size: 1.6rem;
}
html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

/* Nav Menu */
header {
    position: fixed;
    width: 100%;
    z-index: 99;
}
.main-nav-menu {
    padding: 30px;
}
.main-nav-list {
    display: flex;
    justify-content: center;
}
.main-nav-item {
    list-style-type: none;
    margin: 0 30px;
    font-size: 1.8rem;
}
.main-nav-list a {
    color: #000;
    text-decoration: none;
}
.main-nav-list a:hover {
    color: #0055ff;
    text-decoration: none;
}
.main-nav-menu.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1);
}

/* Sections styling */
main .main-section{
    background-position: center;
    min-height: 100vh;
    padding: 80px 50px;
}
main .hero-section, main .projects-section {
    background-image: url('assets/bg-1.jpg') !important;
}
main .about-section, main .contact-section {
    background-image: url('assets/bg-2.jpg') !important;
}
h2.section-title {
    text-align: center;
    padding: 40px;
    font-size: 2.15em;
}
.me-container, .about-me-container, .single-project-container {
	box-shadow: var(--container-box-shadow);
}

/* Hero Section */
.hero-section h1 {
    font-size: 3rem;
    text-transform: uppercase;
}
section.hero-section {
    display: flex;
}
section.hero-section .me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: var(--container-border-radius);
}
section.hero-section .me-container img {
    max-width: 200px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
section.hero-section .me-container > *:not(:last-child) {
    margin-bottom: 40px;
}

/* About Me Section */
.about-section .about-me-col-1, .about-section .about-me-col-2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-section .about-me-container {
    display: flex;
    max-width: 1140px;
    margin: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: var(--container-border-radius);
    height: 60vh;
}
.about-me-col-1 .tech-used-img {
    flex-basis: 33.3333%;
    display: flex;
    justify-content: center;
}
.about-me-col-1 .tech-used-img img {
    max-height: 80px;
    max-width: 140px;
    margin: auto;
}
.about-section .about-me-col-2 {
    text-align: center;
    padding: 30px;
}
.about-me-col-2 p {
    line-height: 2;
    font-size: 1.15em;
    margin: auto;
}

/* My Projects Section */
.projects-section .my-projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    max-width: 1440px;
    margin: 0 auto;
}
.projects-section .single-project-container {
	max-width: 50%;
	background: rgba(255, 255, 255, 0.8);
	padding: 30px;
    margin: 20px 0px;
	border-radius: var(--container-border-radius);
    text-align: center;
}
.single-project-container .project-title {
	margin-bottom: 15px;
    font-size: 1.25em;
}
.single-project-container img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	margin-bottom: 20px;
}
.single-project-container a {
    color: #000;
    text-decoration: none;
}
.single-project-container a:hover h4 {
    color: #0055ff;
}
.single-project-container a:hover img {
    transform: scale(1.10);
    transition: 0.5s ease;
}